#file_gallery,
#file_gallery .inside
{
	position: static !important;
}

#file_gallery_inner
{
	position: relative;
}

#fg_container
{
	overflow: auto;
	height: auto;
	padding-right: 7px;
	padding-left: 35px;
	min-height: 0;
}

#fg_container.uploader
{
	background: #FFF;
}

#side-sortables #fg_container
{
	padding-right: 0;
	padding-left: 30px;
}

.file_gallery_list
{
	list-style-type: none;
	margin: 1em 0 0 0;
	padding: 8px 0 0 0;
	list-style-position: inside;
	overflow: hidden;
	clear: both;
}

.file_gallery_list.inactive
{
	opacity: 0.5;
}

#file_gallery_galleryAttachments
{
	border: 1px solid #FFF;
	margin: auto -6px;
	padding: 10px 0 3px;
}

#file_gallery_galleryAttachments.active
{
	background-color: rgba(0,0,0,0.1);
	border-color: rgba(0,0,0,0.3);
}

#file_gallery legend
{
	font-size: 14px;
	display: block;
	border-bottom: 1px solid #eee;
}



#file_gallery fieldset#file_gallery_gallery_options,
#file_gallery fieldset#file_gallery_single_options
{
	background: #f5f5f5;
	border: 1px solid #EFEFEF;
	padding: 0;
	margin: 5px 0 10px 0;
	clear: both;
	position: relative;

	box-shadow: 0 1px 1px rgba(0,0,0,0.04);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.04);
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.04);
	-ms-box-shadow: 0 1px 1px rgba(0,0,0,0.04);
	-o-box-shadow: 0 1px 1px rgba(0,0,0,0.04);
}

#file_gallery_single_edit
{
	background: #FFF;
	overflow: hidden;
}

#file_gallery_single_edit.closed
{
	display: none;
}

#file_gallery #attachment_data_edit_form .button-primary
{
	float: none;
}

#file_gallery #attachment_data_edit_form #attachment-postcustomstuff
{
	margin-top: 30px;
	width: 90%;
}

#file_gallery_toggle_textual[disabled]
{
	background-color: #EEE;
}

#file_gallery fieldset#file_gallery_tag_attachment_switcher,
#file_gallery fieldset#file_gallery_textual_switcher
{
	border: none;
	display: none;
	float: left;
	clear: none !important;
	margin: 6px 0 0 0;
	background: none;

	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
}

#file_gallery .no-fieldsets fieldset#file_gallery_tag_attachment_switcher,
#file_gallery .no-fieldsets fieldset#file_gallery_textual_switcher
{
	float: right;
}

#file_gallery fieldset#file_gallery_tag_attachment_switcher
{
	margin-right: 10px;
}

#file_gallery .no-fieldsets fieldset#file_gallery_tag_attachment_switcher
{
	margin-left: 8px;
}

#side-sortables #file_gallery_switch_to_tags
{
	/*width: 195px;*/
	margin-top: -15px;
	margin-bottom: 5px;
}

#side-sortables #file_gallery .no-fieldsets #file_gallery_switch_to_tags,
#side-sortables #file_gallery .no-fieldsets #file_gallery_tag_attachment_switcher
{
	margin: 0;
	float: left;
}

#side-sortables #file_gallery .no-fieldsets #file_gallery_tag_attachment_switcher
{
	margin-top: 10px;
}

#side-sortables #file_gallery fieldset#file_gallery_tag_attachment_switcher,
#side-sortables #file_gallery fieldset#file_gallery_textual_switcher
{
	float: left;
}

#poststuff .inside #fg_container fieldset p
{
	float: left;
}

#poststuff .inside #fg_container fieldset#fieldset_attachment_custom_fields p
{
	float: none;
}

#poststuff .inside #fg_container .alternative-color-scheme #file_gallery_gallery_options p,
#poststuff .inside #fg_container .alternative-color-scheme #file_gallery_single_options p,
#poststuff .inside #fg_container .alternative-color-scheme #file_gallery_attachments_sorting
{
	background: #F0F0F0;
	border: 1px solid #E0E0E0;
	margin: 4px 4px 0 0;
	padding: 0 2px 0 3px;
	min-height: 32px;
}

#file_gallery_save_menu_order_link
{
	float: right;
	margin-right: 10px;
    margin-top: 6px;
}

#side-sortables #file_gallery_save_menu_order_link
{
	float: left;
}

#file_gallery select
{
	font-size: inherit;
}

.file_gallery_list .attachment,
.file_gallery_list .ui-selected
{
	float:left;
	background-color: #EEEEEE;
	position: relative;
	padding: 4px;
	height: auto;
	cursor: pointer;
	min-width: 55px;
	min-height: 65px;
	cursor: move;
}

#file_gallery_textual_switcher
{
	border: none;
	clear: none !important;
	display: block;
	float: left;
	width: auto;
}

.file_gallery_list.textual .attachment,
.file_gallery_list.textual .ui-selected
{
	min-width: 70px;
	max-width: 200px;
	height: 32px !important;
	width: auto !important;
	min-height: 32px;
	padding: 0;
	overflow: visible;
}

.file_gallery_list.textual .attachment-title,
.file_gallery_list.textual .attachment .icon
{
	float: left;
}

.file_gallery_list .attachment-title
{
	display: none;
}

.file_gallery_list.textual .attachment-title
{
	display: block;
	font-size: 11px;
	line-height: 9px;
	max-width: 155px;
	overflow: hidden;
	padding: 2px 5px;
	white-space: normal;

	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

.file_gallery_list.textual .attachment .icon
{
	height: auto;
	max-height: 32px;
	max-width: 32px;
	width: auto;
	border: none;
	margin: 1px;
}

.file_gallery_list .attachment.copy
{
	background-color: #A0E8F0;
}

.file_gallery_list .attachment.has_copies
{
	background-color: #C6EF83;
}

.file_gallery_list .attachment.post_thumb
{
	background-image: url(../images/overlay-featured.png);
}

.file_gallery_list .attachment.selected
{
	border-color: #ea734b;
}

.file_gallery_list .attachment:hover
{
	border-color: #FFFFFF;
}

.file_gallery_list .attachment.selected:hover
{
	border-color: #D54E21;
}

.file_gallery_list .attachment .action
{
	visibility: hidden;
	background: #F4F4F4;
	border: 1px solid #FFFFFF;
	width: 50% !important;
	height: 50% !important;
	text-decoration: none;
}

.file_gallery_list .attachment.non-image .delete_or_detach_link
{
	height: 100% !important;
}

.file_gallery_list .attachment .action:hover
{
	background-color: #FFFFFF;
}

.file_gallery_list .attachment .action img
{
	position: absolute;
}

.file_gallery_list .attachment img
{
	display: block;
}

.file_gallery_list .attachment:hover .action
{
	visibility: visible;
}

.file_gallery_list .attachment .icon
{
	border: 1px solid #FFFFFF;
	position: relative;
	top: -1px;
	left: -1px;
	width: 100%;
	height: auto;
	cursor: pointer;
	margin: 0 auto;
	padding: 0;
}

.file_gallery_list .image .attachment-preview
{
	padding: 2px;
}

.file_gallery_list .attachment-preview .thumbnail
{
	top: 2px;
	left: 2px;
}

.file_gallery_list .attachment-preview .thumbnail:after
{
	display: none;
}

.file_gallery_list .attachment.non-image .attachment-preview
{
	background-position: center center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

.file_gallery_list .attachment:hover .icon
{
	opacity: 0.35;
}

.file_gallery_list .attachment.non_image img
{
	width: auto;
}

.file_gallery_list .ui-selected
{
    background: #EE0;
}

.file_gallery_list .attachment .checker_action
{
	background: #FFFFFF;
	border-color: #F0F0F0;
	position: absolute;
	width: 40% !important;
	height: 40% !important;
	bottom: 30%;
	right: 30%;
	margin-bottom: -1px;
	margin-right: -1px;
	padding: 0;
	z-index: 99;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.file_gallery_list .attachment .checker_action .dashicons
{
	font-size: 32px;
	line-height: 110%;
	width: 100%;
	height: 100%;
	position: static;
}

.file_gallery_list .clearer
{
	display: block;
	clear:both;
	margin-top:15px;
}

.file_gallery_list .delete_or_detach_link
{
	top: -1px;
	right: -1px;
	position: absolute;
	text-decoration: none;
	z-index: 98;
}

.file_gallery_list .dashicons
{
	position: absolute;
}

.file_gallery_list .delete_or_detach_link .dashicons
{
	top: 15%;
	right: 15%;
}

.file_gallery_list.textual .delete_or_detach_link img
{
	top: -1px;
}

.file_gallery_list.textual .non-image .delete_or_detach_link img
{
	top: 50%;
	margin-top: -8px;
}

.file_gallery_list .post_thumb_status
{
	bottom: -1px;
	right: -1px;
	position: absolute;
	text-decoration: none;
	z-index: 98;
}

.file_gallery_list .post_thumb_status .dashicons
{
	bottom: 15%;
	right: 15%;
}

.file_gallery_list .post_thumb .indicator-overlay
{
	color: #FFCC00;
	text-shadow: 0px 0px 1px #882200;
	position: absolute;
	bottom: 5%;
	right: 5%;
	font-size: 30px;
	margin: 0 10px 10px;
}

.file_gallery_list .del_attachment,
.file_gallery_list .detach_attachment,
.file_gallery_list .detach_or_delete,
.file_gallery_list .post_thumb_setter,
.file_gallery_list .post_thumb_unsetter
{
	position: absolute;
	background: #FAFAF0;
	min-height: 100%;
	width: 100%;
	padding: 0;
	display: none;
	text-align: center;
	z-index: 99;
	margin: 0;
	bottom: 0;
	right: 0;
}

.file_gallery_list a.img_zoom
{
	display: block;
	height: 16px;
	position: absolute;
	left: -1px;
	bottom: -1px;
	width: 16px;
	z-index: 98;
}

.file_gallery_list .img_zoom .dashicons
{
	bottom: 15%;
	left: 15%;
}

.file_gallery_list.textual .img_zoom img
{
	bottom: -1px;
}

.file_gallery_list a.img_edit
{
	display:block;
	height:16px;
	position: absolute;
	left: -1px;
	top: -1px;
	width:16px;
	z-index: 98;
}

.file_gallery_list .img_edit .dashicons
{
	top: 15%;
	left: 15%;
}

.file_gallery_list.textual .img_edit img
{
	top: -1px;
}

.file_gallery_list.textual .non-image .img_edit img
{
	top: 50%;
	margin-top: -8px;
}

.hidden,
#file_gallery_order
{
	display: none;
}

#attachment_data_edit_form
{
	float: right;
	width: 70%;
}

#attachment_data_edit_form label
{
	display: block;
	padding: 5px 0 0px 2px;
	font-weight:bold;
}

#attachment_data_edit_form .roundborder
{
	width: 90%;
}

.float_left
{
	float: left;
}

.float_right
{
	float: right;
}

#file_gallery_response
{
	color: #DD6611;
	height: 23px;
	line-height: 23px;
	padding: 0 8px;
	position: absolute;
	right: 45px;
	top: -36px;
	font-weight: bold;
}

.toggler
{
	float: right;
	height: 100%;
	background: none;
	border: none;
	cursor: pointer;
	outline: none;
	margin-right: -6px;
}

#file_gallery .button.insert
{
	float: right;
	margin-top: 9px;
	font-weight: 400;
}

#file_gallery_toggler,
#file_gallery_single_toggler
{
	margin-top: 0;
	padding: 0 3px 3px;
	overflow: hidden;
}

#file_gallery_toggler.closed,
#file_gallery_single_toggler.closed
{
	display: none;
}

#fg_info
{
	float: left;
	width: 35%;
	display: none;
	min-width: 250px;
}

#fg_buttons
{
	float: left;
	width: 30px;
	margin-left: -35px;
	position: relative;
	/*z-index: 100;*/
	background: none !important;
}

#side-sortables #fg_buttons
{
	margin-left: -30px;
}





#fg_buttons button
{
	width: 29px;
	height: 23px;
	background-position: center center;
	background-repeat: no-repeat;
	margin: 4px 0 0 0;
	padding: 0;
	position: relative;
}

#fg_buttons button .text
{
	text-indent: -9999px;
}


#file-gallery-content
{
	float: left;
	width: 100%;
	position: relative;
}

#fg_loading_on_bar
{
	margin-top: 4px;
}

#file_gallery_attachment_edit_image
{
	float:left;
	margin-left:2.5%;
	margin-right:5%;
	margin-top:18px;
	width:20%;
}

	#side-sortables #file_gallery_attachment_edit_image
	{
		float: none;
		margin-left: 5px;
		margin-right: 0;
		margin-top: 5px;
		width: 100%;
	}

	#side-sortables #attachment_data_edit_form
	{
		float: none;
		width: 100%;
	}

#file_gallery_attachment_edit_image a img
{
	width: 100%;
}

	#side-sortables #file_gallery_attachment_edit_image a img
	{
		max-width: 95%;
		max-height: 200px;
		width: auto;
		height: auto;
	}

#file_gallery_attachment_edit_image img.non_image
{
	width: 46px;
	height: 60px;
}

#file_gallery_attachment_list
{
	width: 100%;
}

#file_gallery_tag_list
{
	display: none;
	font-size:12px;
	clear: both;
	margin-left: 6px;
	margin-top: 15px;
	float: left;
}

#file_gallery_tag_list .fg_insert_tag
{
	float: left;
	margin-bottom: 4px;
	margin-right: 7px;
	padding: 2px 4px;
	background: #EEE;
}

#file_gallery_tag_list .fg_insert_tag:hover
{
	color: #222;
}

#file_gallery_tag_list .fg_insert_tag.selected
{
	color: #C75;
	background: #FAFAFA;
}

#file_gallery fieldset #fg_gallery_tags_container
{
	display: none;
	width: 95%;
	background: url(../images/famfamfam_silk/tag_blue.png) left center no-repeat;
	padding-left: 20px;
}

#fg_gallery_tags
{
	width: 100%;
}

#side-sortables #file_gallery_linkrel_custom_label
{
	float: right;
}


/* sorting */

#file_gallery_attachments_sorting
{
	float: right;
	clear: none !important;
}

#file_gallery_attachments_sort_submit
{
	cursor: pointer;
	margin: 2px !important;
}

#side-sortables #file_gallery_attachments_sorting
{
	float: left;
	margin: 6px 0 0 0 !important;
}

#side-sortables #file_gallery_attachments_sorting label
{
	display: block;
	line-height: normal;
}


/* wp-admin css fixes */

.file_gallery_inline_checkbox_label
{
	margin-right: 1em;
}

.file_gallery_textarea,
.file_gallery_select
{
	width: 415px;
}

.file_gallery_select.default_columns
{
	width: 45px;
}

#postimagediv .inside p
{
	overflow: hidden;
}

.media-item
{
	position: relative;
}

#submitpost
{
	overflow: auto;
	height: auto;
}

.loading_image
{
	text-align:center;
	margin: 50px 0;
}

#file_gallery_imageclass,
#file_gallery_mimetype,
#file_gallery_linkclass,
#file_gallery_single_imageclass,
#file_gallery_single_linkclass,
#file_gallery_galleryclass,
#file_gallery_postid,
#file_gallery_linkrel_custom
{
	width: 93px;
}

#file_gallery_limit,
#file_gallery_offset
{
	width: 45px;
}


#library-form .media-item
{
	background-color: #FFFAFA;
}

#library-form .media-item.child-of-0
{
	background-color: #FFFFFF;
}

#file_gallery_delete_dialog,
#file_gallery_image_dialog,
#file_gallery_copy_all_dialog
{
	display: none;
	background: #FFF;
	color: #000000;
	padding: 0;
}

#file_gallery_image_dialog img
{
	display: block;
}

#file_gallery_delete_dialog,
#file_gallery_copy_all_dialog
{
	padding: 0 1em;
	border-bottom: 1px solid #EEEEEE;
	margin-bottom: -5px;
}

#file_gallery_copy_all_wrap
{
	margin-top: 25px;
}

/* jQuery UI */

.file_gallery_attach_to_post.solo
{
	float: right;
	margin: 11px 6px 0 0;
}

#file_gallery_hide_gallery_options,
#file_gallery_hide_single_options,
#file_gallery_hide_acf
{
	position: absolute;
	right: 0;
	margin-top: -18px;
	padding: 0;
	cursor: pointer;
	background-position: center top;
	background-color: #EDEDED;
	text-indent: -9999px;
	height: 19px;
	width: 24px;
	outline: none;
	border-width: 1px;
	border-style: solid;
	border-color: #DDD;

	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}

#file_gallery_hide_gallery_options:hover,
#file_gallery_hide_single_options:hover,
#file_gallery_hide_acf:hover
{
	background-color: #F1F1F1;
	border-color: #DFDFDF;
}

#file_gallery_hide_gallery_options.open,
#file_gallery_hide_single_options.open,
#file_gallery_hide_acf.open
{
	background-image: url(../images/famfamfam_silk/bullet_arrow_up.png);

	box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}

#file_gallery_hide_gallery_options.closed,
#file_gallery_hide_single_options.closed,
#file_gallery_hide_acf.closed
{
	background-image: url(../images/famfamfam_silk/bullet_arrow_down.png);

	box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}

#file_gallery_hide_acf
{
	margin: -27px 8px 0 0;
}

.attachment_info_has_copies,
.attachment_info_is_a_copy
{
	padding: 5px;
	background: #C0E0F0;
}

.attachment_info_has_copies
{
	background: #D6F1B3;
}

.thumb_switch_load,
.regenerate_load
{
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 98;
	display: none;
	border: 0px solid #333333;
}

.thumb_switch_load
{
	top: 50%;
	left: 50%;
	margin-left: -16px;
	margin-top: -16px;
}

.file_gallery_regenerate
{
	text-transform: capitalize;
}

#file_gallery_attachment_edit_image .file_gallery_regenerate
{
	display: block;
	text-decoration: none;
	padding: 3px 3px 3px 20px;
	height: 3em;
	background: url(../images/famfamfam_silk/arrow_refresh_small.png) left center no-repeat;
}

#file_gallery_attachment_edit_image .file_gallery_regenerate img
{
	height: 1em;
	width: 110px;
	margin-bottom: 0.5em;
}

#file_gallery_copy_from_wmpl_original
{
	background: #EAF2FA;
	display:block;
	margin:10px -6px -8px;
	padding:7px 0 9px;
	text-align:center;
}

#file_gallery_copy_from_wmpl_original:hover
{
	color: #b37458;
	background: #fdf9da;
}



/* edit.php - posts/pages listing */

td.column-post_thumb,
td.column-attachment_count
{
	text-align: center !important;
	background: none;
}

td.column-post_thumb img
{
	height: auto;
	margin: 3px 0 !important;
	max-height: 60px !important;
	max-width: 100% !important;
	width: auto;
}

td.column-post_thumb .no-post-thumbnail
{
	color: #BBB;
	font-size: 8px;
	font-weight: bold;
}



/* attachment custom fields */


	/* fieldset and toggler */

#file_gallery fieldset#fieldset_attachment_custom_fields
{
	display: block;
    margin: 10px 0 20px 0;
    padding: 0;
    width: 90%;
}

#file_gallery fieldset#fieldset_attachment_custom_fields legend
{
	font: italic 20px/35px Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
	margin: 0;
	padding: 0 8px;
	color: #21759B;
}

.acf_new_custom_field
{
	background: #F1F1F1;
}

.acf_delete_custom_field
{
	vertical-align: top;
}

#attachment_data_edit_form #media-single-form .acf_new_custom_field td
{
	padding: 2px 5px;
}

#attachment_data_edit_form #media-single-form .acf_new_custom_field th
{
	width: 100px;
}

#attachment_data_edit_form #media-single-form .acf_new_custom_field th .alignleft
{
	display: block;
	margin: 0;
	line-height: 15px;
	padding: 0.75em 5px 0;
}

#attachment_data_edit_form #media-single-form .acf_new_custom_field label
{
	padding: 0;
}

#attachment_data_edit_form #media-single-form .acf_new_custom_field br
{
	display: none;
}

#attachment_data_edit_form #media-single-form
{
	width: 100%;
	margin-top: 8px;
}

#attachment_data_edit_form #media-single-form .acf_new_custom_field input,
#attachment_data_edit_form #media-single-form .acf_new_custom_field textarea
{
	width: 95%;
}

#attachment_data_edit_form #media-single-form .acf_new_custom_field input#new_custom_field_submit
{
	width: auto;
}

#attachment_data_edit_form #media-single-form .custom_field textarea
{
	width: 75%;
	margin-left: 12px;
	margin-bottom: 1em;
	margin-bottom:1em;
}

#side-sortables #attachment_data_edit_form #media-single-form .custom_field textarea
{
	width: 80%;
	min-height: 100px;
}

#side-sortables #attachment_data_edit_form #media-single-form .custom_field .acf_delete_custom_field
{
	margin-bottom: 1em;
	margin-left: 12px;
	margin-top: -1em;
}






#media_tag_taxonomy_name,
#media_tag_taxonomy_slug
{
	background: url(../images/file-gallery-logo.png) right center no-repeat;
}

#poststuff #file_gallery h3.hndle span
{
	width: 100%;
	display: block;
	background:url(../images/file-gallery-logo.png) right center no-repeat;
}





.attachment-original
{
	background-color: #e1f3ca;
}

.attachment-copy
{
	background-color: #d7e9f3;
}

.attachment-original.alternate
{
	background-color: #eaf7d9;
}

.attachment-copy.alternate
{
	background-color: #e4eff4;
}





#file_gallery_upload_area
{
	background: #FFF;
    position: absolute;
    left: 0;
	top: -9999em;
	z-index: 98;
	min-height: 280px;
	width: 100%;
	height: 100%;
}

#fg_container.uploader
{
	min-height: 350px;
}

#fg_container.uploader #file_gallery_upload_area
{
	top: 0;
}





.closed #file_gallery_hide_gallery_options,
.closed #file_gallery_hide_single_options
{
	margin-top: -15px;
}

#file_gallery fieldset.closed
{
	margin-top: 2px;
}



/* no attachments */

.no-attachments #fg_info
{
	float: right;
	min-width: 0;
	width: auto;
}

.no-attachments #fg_buttons .basic
{
	display: none;
}












.media-selection
{
	right: 400px;
}

.file-gallery-response
{
	background: #FFFFFF;
	color: #21759B;
	font-weight: 700;
	margin: 10px -5px;
	padding: 10px;
}




/* media modal attachment icon */

.attachment .attach {
    background: linear-gradient(to bottom, #F1F1F1, #E1E1E1) repeat scroll 0 0 #F1F1F1;
	background-color:#F1F1F1;
    border: 1px solid #FFFFFF;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.4);
    display: none;
    height: 24px;
    outline: 0 none;
    position: absolute;
    right: -7px;
    top: 24px;
    width: 24px;
    z-index: 10;
}

/*
//show on hover

.attachment:hover .attach,
*/
.attachment .attached .attach,
.attachment .isattached .attach {
	display:block;
}

.attachment.details .attach {
    background: linear-gradient(to bottom, #1E8CBE, #0074A2) repeat scroll 0 0 #1E8CBE;
	background-color:#1E8CBE;
    box-shadow: 0 0 0 1px #1E8CBE;
}
.attachment .attach div {
    background-position: -1px 0;
    height: 15px;
    margin: 5px;
    width: 15px;
}
.attachment.details .attach div {
    background-position: -21px 0;
}
.attachment .attached .attach div, .attachment .isattached .attach div {
    background-position: -41px 0;
}
.attachment.details .attached .attach div, .attachment.details .isattached .attach div  {
    background-position: -61px 0;
}
.attach .media-modal-icon {
    background-image: url(../images/uploader-custom-icons.png);
    background-repeat: no-repeat;
}


/* attachment custom fields */

#attachment-postcustomstuff thead th {
	padding: 5px 8px 8px;
	background-color: #f1f1f1;
}

#attachment-postcustomstuff .submit {
	border: 0 none;
	float: none;
	padding: 0 8px 8px;
}

#side-sortables #attachment-postcustomstuff .submit {
	margin: 0;
	padding: 0;
}

#side-sortables #attachment-postcustomstuff #attachment-the-list textarea {
	height: 85px;
}

#side-sortables #attachment-postcustomstuff td.left input,
#side-sortables #attachment-postcustomstuff td.left select,
#side-sortables #attachment-postcustomstuff #attachment-newmetaleft a {
	margin: 3px 3px 0;
}

#attachment-postcustomstuff table {
	margin: 0;
	width: 100%;
	border: 1px solid #dfdfdf;
	border-spacing: 0;
	background-color: #f9f9f9;
}

#attachment-postcustomstuff tr {
	vertical-align: top;
}

#attachment-postcustomstuff table input,
#attachment-postcustomstuff table select,
#attachment-postcustomstuff table textarea {
	width: 96%;
	margin: 8px;
}

#side-sortables #attachment-postcustomstuff table input,
#side-sortables #attachment-postcustomstuff table select,
#side-sortables #attachment-postcustomstuff table textarea {
	margin: 3px;
}

#attachment-postcustomstuff th.left,
#attachment-postcustomstuff td.left {
	width: 38%;
}

#attachment-postcustomstuff .submit input {
	margin: 0;
	width: auto;
}

#attachment-postcustomstuff #attachment-newmetaleft a {
	display: inline-block;
	margin: 0 8px 8px;
	text-decoration: none;
}

.no-js #attachment-postcustomstuff #attachment-enternew {
	display: none;
}

#post-body-content .compat-attachment-fields {
	margin-bottom: 20px;
}


th.column-post_thumb,
th.column-attachment_count
{
	font-size: inherit;
	width: "";
}

th.column-post_thumb
{
	width: 5em;
}

th.column-attachment_count
{
	width: 4em;
}

td.column-post_thumb, td.column-attachment_count
{
	padding: inherit;
}

.thumbLoadingAnim
{
	display: none;
	background: #FFF url(../images/loading-big.gif) center center no-repeat;
	opacity: 0.8;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 102;
}

#file_gallery_zoomed_image
{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
	width: 100%;
	height: 100%;
	background-image: url(../images/loading.gif);
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #FFF;
	background-color: rgba(250, 250, 250, 0.97);

	-webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25) inset;
	-moz-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25) inset;
	-ms-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25) inset;
	-o-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25) inset;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25) inset;
}

#file_gallery_zoomed_image img
{
	position: absolute;
	left: 50%;
	top: 50%;
	background: #FFF;
}

#file_gallery_zoomed_image_prev,
#file_gallery_zoomed_image_next,
#file_gallery_zoomed_image_edit
{
	position: absolute;
	top: 1em;
	right: -7px;
	cursor: pointer;
	z-index: 100000;
}

#file_gallery_zoomed_image_prev,
#file_gallery_zoomed_image_next
{
	width: 70px;
	height: 60px;
	padding: 60px 0;
	font-size: 60px;
	background: #FFF;
	opacity: 0.75;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;

	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
	-ms-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
	-o-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

#file_gallery_zoomed_image_prev
{
	top: 50%;
	left: -7px;
	right: auto;
	margin-top: -1em;
}

#file_gallery_zoomed_image_next
{
	top: 50%;
	left: auto;
	margin-top: -1em;
}

#file_gallery_zoomed_image_prev:hover,
#file_gallery_zoomed_image_next:hover
{
	opacity: 0.9;
	color: #2ea2cc;
}

#file_gallery_zoomed_image_edit
{
	left: 1em;
	right: auto;
}

#file_gallery_zoomed_image_description
{
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #FFF;
	border-top: 1px solid #CCC;
}

#file_gallery_zoomed_image_description_inner
{
	margin: 0 auto;
	max-width: 45em;
	padding: 1em;
}

#file_gallery_zoomed_image_description_inner h2
{
	margin: 0 auto;
}

#file_gallery_regenerate_response
{
	display: inline;
	opacity: 1;
	font-size: 60%;
	margin-left: 2em;
	color: #0074a2;
	background-color: #FFFFF0;
	padding: 0 3px;
}

.column-icon.media-icon.regenerating
{
	position: relative;
}

.column-icon.media-icon.regenerating:after
{
	content: "";
	display: block;
	width: 16px;
	height: 16px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -8px;
	margin-left: -8px;
	z-index: 999;
	background-color: #FFF;
	background-image: url(../images/loading.gif);
	background-position: center center;
	background-repeat: no-repeat;
}




@media screen and ( max-width: 782px )
{
	th.column-post_thumb,
	th.column-attachment_count
	{
		font-size: 0;
		width: 20px;
	}

	td.column-post_thumb, td.column-attachment_count
	{
		padding: 0;
	}
}
