#file_gallery label
{
	font-weight: bold;
    line-height: 2.35em;
}

#file_gallery .button-primary
{
	float: right;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding: 3px 8px;
	font-weight: normal;
	background: #21759B url(../images/button-grad.png) repeat-x scroll left bottom;
	border-color: #298CBA;
	color: #FFFFFF;
	text-shadow: none;
	
	border-radius: 11px;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	-ms-border-radius: 11px;
	-o-border-radius: 11px;
	
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}

#file_gallery .button-primary:hover,
#file_gallery .button-primary:active
{
	background: #FFFFFF url(../images/white-grad.png) repeat-x scroll left bottom;
	border-color: #FFFFFF;
	color: #000000;
}

#file_gallery .button-primary:active
{
	color: #777777;
	background: #FFFAE0;
}

#file_gallery fieldset legend.button-primary
{
	cursor: pointer;
	float: none;
	margin-bottom: 7px;
	line-height: 17px;
}

#file_gallery_toggle_textual
{
	background-color: #FFF;
}

#file_gallery_save_menu_order_link
{
    line-height: 17px;
}

#poststuff .inside #fg_container .alternative-color-scheme #file_gallery_gallery_options p,
#poststuff .inside #fg_container .alternative-color-scheme #file_gallery_single_options p,
#poststuff .inside #fg_container .alternative-color-scheme #file_gallery_attachments_sorting
{
	background: #F0F0F0;
	border: 1px solid #DDDDDD;
	margin: 3px 2px;
	padding: 0 2px 0 3px;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

textarea, input, select 
{
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	
	border-width: 1px;
}

#file_gallery fieldset p input,
#file_gallery fieldset p select
{
	font-size: 11px;
	padding: 2px;
	margin: 0px;
	vertical-align: baseline;
	max-width: none;
}

#file_gallery fieldset
{	
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
}

#attachment_data_edit_form .button
{
	clear: both;
	float: none;
	display: block;
}