.gallery.default {
	margin: auto;
	overflow: hidden;
}
.gallery.default .gallery-item {
	float: left;
	margin: 0 4px 4px 0;
	text-align: center;
	width: calc(100% - 4px);
}
.gallery.default .gallery-caption {
	margin-left: 0;
}
.gallery.default .clear {
	clear: both;
}



/*
Default style for WP-PageNavi plugin
http://wordpress.org/extend/plugins/wp-pagenavi/
*/
.gallery.default .wp-pagenavi {
	clear: both;
	padding: 10px 0;
	margin-top: 1em;
}

.gallery.default .wp-pagenavi a, .wp-pagenavi span {
	text-decoration: none;
	border: 1px solid #BFBFBF;
	padding: 3px 5px;
	margin: 2px;
}

.gallery.default .wp-pagenavi a:hover, .wp-pagenavi span.current {
	border-color: #000;
}

.gallery.default .wp-pagenavi span.current {
	font-weight: bold;
}
